@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background: url(images/background1.jpg) center / cover no-repeat;
}

header{
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    padding: 0 10px;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 22px 0;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
}

.navbar .logo{
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}

.navbar .logo img{
    width: 40px;
    border-radius: 50%;
   background:  #fff;
}

.logo img:hover{
    color: bisque;
}

.navbar .logo h2{
    font-size: 1.7rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.785);
}

.navbar .links{
    display: flex;
    list-style: none;
    gap: 35px;
}

.navbar .links a{
    text-decoration: none;
    font-size: 1 rem;
    font-weight: 500;
}

.navbar .links a:hover{
    color:dodgerblue;
}

.navbar .login-btn{
    color: #fff;;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 10px 18px;
    border-radius: 31px;
    background: rgba(30, 143, 255, 0.985);
    cursor: pointer;
}

.blur-bg-overlay {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    backdrop-filter: blur(5px);
    transition: 0.1s ease;
}

.login-btn:hover{
    background: rgba(30, 143, 255, 0.677);
    color:rgba(0, 0, 0, 0.476);
}

.show-popup .blur-bg-overlay {
    opacity: 1;
    pointer-events: auto;
}

.form-popup{
    position: fixed;
    top: 50%;
    left: 50%;
    max-width: 720px;
    width: 100%;
    background: #fff;
    border: 2 px solid #4d4d4d;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -100%);
}

.show-popup .form-popup {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease, opacity 0.1s ;
}

.form-popup .close-btn {
    position: absolute;
    top: 12px;
    right: 12px;
    color: #717171;
    cursor: pointer;

}

.form-popup .form-box {
    display: flex;
}

.form-box .form-details{
    max-width: 330px;
    display: flex;
    padding: 0 20px;
    color:rgba(0, 97, 139, 0.872);
    width: 100%;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.login .form-details{
    background: url(images/background2.jpg);
    background-size: cover;
    background-position:center ;
}

.signup .form-details{
    background: url(images/background3.jpeg);
    background-size: cover;
    background-position:center ;
}

.form-box h2 {
    text-align: center;
    margin-bottom:30px;
}

.form-box .form-content {
    width: 100%;
    padding:35px;
}

form .input-field{
    height: 50px;
    width: 100%;
    margin-top: 20px;
    position: relative;
}

form .input-field input {
    width: 100%;
    height: 100%;
    outline: none;
    padding: 0 15px;
    font-size: 0.95rem;
    border-radius: 3px;
    border: 1px solid #717171;
}


.input-field input:focus {
    border-color: #4d4d4d;
}

form .input-field label{
    position: absolute;
    top: 50%;
    left: 15px;
    color:#717171;
    pointer-events: none;
    transform: translateY(-50% );
    transition: 0.5s ease;
}

.input-field input:is(:focus, :valid) ~ label {
    font-size: 0.75rem;
    color:darkslategrey;
    transform: translateY(-120% );
}

.form-box a {
    color: rgba(30, 143, 255, 0.718);
    text-decoration: none;
}

.form-box a:hover {
    text-decoration: underline;
}

.form-box :where(.forgot-pass, .policy-text) {
    display: inline-flex;
    margin-top: 14px;
    font-size: 0.95rem;

}

form button{
    width: 100%;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    padding: 14px 0;
    border-radius: 10px;
    margin: 25px 0;
    color: #fff;
    background: rgba(30, 143, 255, 0.915);
    transition: 0.2 ease;

}

form button:hover {
    background: rgb(34, 87, 139);
}

.form-box .bottom-link {
    text-align: center;
}

.form-popup .signup {
    display: none;
}

.signup .policy-text {
    display: flex;
    align-items: center;
}

.signup .policy-text input {
    width: 100%;
    height: 14px;
    margin-right: 7px;
}

@media (max-width: 760px) {
    .form-popup {
        width: 95%;
    }

    .form-box .form-details {
        display: none;
    }

    .form-box .form-content {
        padding: 30px 20px;
    }
}